
  <ng-template [ngIf]="item !== null">

  <div class="bg-gray-50">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
	<div>
		<div>
			<img class="h-20 w-20 rounded-md" [src]="item.image.url" [alt]="item.image.label" loading="lazy"/>
		</div>
		<h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
			<span class="block">{{item.title}}</span>
		</h2>
		<div class="block text-indigo-600" [innerHtml]="item.bulletList" ></div>
	</div>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">


	  <div [innerHtml]="item.tipsTricks" ></div>

    </div>
  </div>
</div>
</ng-template>
